<% if(typeof me === 'undefined') {
  // In case we're displaying the 404 or 500 page and relevant code in the "custom" hook was not able to run,
  // we make sure `me` exists.  This ensures we don't have to do `typeof` checks below.
  var me = undefined;
} %><!DOCTYPE html>
<html>
  <head>
    <title>SafeSpace</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a  class="navbar-brand mr-0" href="/"><img style='display: inline-block;' class="logo" alt="SafeSpace logo" src="logo.png"/>  <p style='display: inline-block;'>SafeSpace</p> </a>
        <div class="navbar-nav flex-row">
          <!-- LOGGED-IN NAVIGATION -->
          <% if(me) { %>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/contact">Help</a>
          <!-- Only in desktop nav -->
          <div class="nav-item dropdown d-none d-sm-block">
            <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
              <a class="dropdown-item" href="/account">Settings</a>
              <a class="dropdown-item" href="/logout">Sign out</a>
            </div>
          </div>
          <!-- Only in mobile nav -->
          <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/account">Account Settings</a>
          <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/logout">Sign out</a>
          <% } else { %>
          <!-- LOGGED-OUT NAVIGATION -->
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/faq">FAQ</a>
          <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/login">Log in</a>
          <!-- Only in desktop nav -->
          <div class="form-inline d-none ml-2 d-md-block" >
            <a class="btn btn-outline-info" href="/signup">Sign up</a>
          </div>
          <!-- Only in mobile nav -->
          <a class="nav-item nav-link text-info ml-2 d-block d-md-none" href="/signup">Sign up</a>
          <% } %>
        </div>
      </header>

      <!-- Alert if email has not been confirmed -->
      <% if(me&&me.emailChangeCandidate) { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
      </div>
      <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
      </div>
      <% } %>

      <%- body %>

    </div>


    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>


    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/js-timestamp.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>


  </body>
</html>
