<title class= "MTitle">Mission Statement</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
div.a:hover{
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
 transform: scale(1.5);
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 3%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #E4405F;
  color: white;
}
</style>
<body>
    <h1 style= 'display: block; right-margin: auto; left-margin: auto; '> <center>Mission Statement</center> </h1>
    <div style='padding: 50px;'>
<div class="trans" style="-moz-box-shadow: 1px 1px 3px 2px #14ACC2;
  -webkit-box-shadow: 1px 1px 3px 2px #14ACC2;
  box-shadow:         1px 1px 3px 2px #14ACC2;">
  <p class="features text-center" style='padding: 30px;'> <strong>Nearly 20 people per minute are physically abused by an intimate partner in the United States.

  Control Alt Delete, LLC has been formed to be a nonprofit that provides basic immediate needs to help address and alleviate the barriers that can keep victims from fleeing their abusers.

  With community partners and support; Control Alt Delete will connect those fleeing from domestic violence situations with cab rides, hotel accommodations, meals, storage and moving companies removing the barriers that often keep them in an unsafe situation.Control Alt Delete will be a tool for first responders to access immediate assistance as emergency shelters are often full to capacity leaving those wanting to escape with no options.

  Our vision is to eliminate all barriers that keep people experiencing domestic violence in that unsafe situation, allowing them the freedom to live a life without the fear of abuse.
</strong></p>
</div>

</div>
  	<footer><center>Follow us on Social Media</center></footer>
        <center>
            <a href="https://www.instagram.com/dv.ctrlaltdel/" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/dv.ctrlaltdel/" class="fa fa-facebook"></a>
        </center>

</body>
