<style media="screen">
    #error{
      display: none;
    }
  </style>
  <div class="container">
    <br>
  <center>
  <h2>Vendor Sign-up</h2><hr>
  </center>
  <h5 style='color:red;display: none;' id='error'>Error, Username Taken!!!</h5>
  <form class="form" action="/vendorsignup" method="post">
    <label for="uname">Company Name</label>
    <input class='form-control' type="text" name="CompanyName" placeholder='Company Name' value=""><br>
    <label for="uname">Description</label>
    <input class='form-control' type="text" name="Description" placeholder='Description' value=""><br>
    <label for="uname">Phone Number</label>
    <input class='form-control' type="tel" name="PhoneNumber" placeholder='Phone Number: +1(111)111-1111' value=""><br>
    <label for="pw">Logo</label>    
    <input class='form-control' type="file"  name="logo" accept="image/png, image/jpeg">
    <label for="uname">Username</label>
    <input class='form-control' type="text" name="uname" placeholder='Username' value=""><br>
    <label for="pw">Password</label>
    <input class='form-control' type="password" name="pw" placeholder='Password' value=""><br><br>
    <input type="submit" name="Submit" value="Submit" class='btn btn-info' style='float:right'>
  </form>
  
  
  
  
  
  
  
  </div>
  
  <script type="text/javascript">
  
    try {
      var url = window.location.href.split('?')[1]
      console.log(url);
      if (url == 'e=2') {
        console.log('HERE');
        document.getElementById('error').style.display = 'inline'
      }
    } catch (e) {
      console.log('Hello There');
    }
  </script>
  