<style media="screen">
    #error{
      display: none;
    }
  </style>
  <div class="container">
    <br>
  <center>
  <h2>Service Onboarding</h2><hr>
  </center>
  <h5 style='color:red;display: none;' id='error'>Error, Service-Name Taken!!!</h5>
  <form class="form" action="/vendorsignup" method="post" enctype="multipart/form-data">
    <label for="uname">Service Name</label>
    <input  class='form-control' type="text" name="CompanyName" id='CompanyName' placeholder='Service Name' value=""><br>
    <label for="Description">Description</label>
    <input  class='form-control' type="text" name="Description" id='Description' placeholder='Description' value=""><br>
    <label for="PhoneNumber">Emergency Phone Number</label>
    <input  class='form-control' type="tel" id='PhoneNumber' pattern='^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$' name="PhoneNumber" placeholder='Emergency Phone Number: +1(111)111-1111' value=""><br>
    <input type="submit" name='Submit' value='Submit'  class='btn btn-info' style='float:right'>
  </form>
  </div>
