<div class="container">
    <center>
    <h2>Vendor Login</h2><hr>
    </center>
    
    <form class="from" action="/vendorlogin" method="post">
    <label for="uname">Username</label>
    <input class='form-control' type="text" name="uname" placeholder='Username' value=""><br>
    <label for="pw">Password</label>
    <input class='form-control' type="password" name="pw" placeholder='Password' value=""><br>
    <input type="submit" name="Submit" value="Submit" class='btn btn-info' style='float:right'>
    </form>
    
    
    
    
    
    
    
    </div>
    